
	<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Fear of the Unknown</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4">
					 <img src="images/fear.jpg" alt="Death Chart" style="width:100%">
				</div>
				<div class="w3-col l8" >
				<p>Many firefighters may be reluctant to see a doctor over a fear of being told they can't do the job anymore or they need to make changes in lifestyle.  Little do these firefighters realize they not only put their lives at risk, but they put the lives of their fellow fighters at risk as well.  Each firefighter has a job to do and if one piece fails the entire crew is now in jeopardy.

				</p>
				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>

	<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Medical Check-UP</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4 w3-padding-8">
					 <img src="images/doc.jpg" alt="Death Chart" style="width:100%">
				</div>
				<div class="w3-col l8" >
					<p>A firefighter should have a yearly physical.  The physical should include the following listed items.
					</p>
					<ul class="w3-margin">
						<li>Heart ECG</li>
						<li>Lung X-Rayay</li>
						<li>Vision Test</li>
						<li>Hearing Test</li>
						<li>Lab Work-Up</li>
					</ul>
					<p><b> Each firefighter has a job to do and if one piece fails the entire crew is now in jeopardy.
					</b></p>
				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>
