
<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
		<p></p>
		</div>

		<div class="w3-col l8 w3-card-12">
			<header class="w3-container w3-light-grey">
			  <h4>Welcome</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4">
					 <img src="images/deaths2015.jpg" alt="Death Chart" style="width:100%">
				</div>
				<div class="w3-col l8 w3-padding-16" >
				  <p> One would think that the leading cause of death for firefighters is smoke inhalation at a fire, but this not the case. The primary cause of firefighter death is the sudden acute heart attack.  According to the National Firefighters Professional Association the leading cause of death is Overexertion/stress/medical and the leading nature of death is sudden cardiac death.  Both of these can be traced back to poor eating, overweight, and lack of heart conditioning.  This site is all you need to know about firefighter Health and Wellness.
				  </p>

				</div>
			</div>
		</div>
	</div>
