
	<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Proper Diet</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4">
					 <img src="images/diet.jpg" alt="Diet" style="width:100%">
				</div>
				<div class="w3-col l8 w3-padding-64" >
				<p>As a firefighter a proper diet is must consisting of mostly protein, vegetables, and fruits.  Firefighting is a physical job, therefore starches and whole grains are a must for energy.  And lets not forget the healthy fats.
				</p>
				<p><b>Drinking plenty of water is also critical for proper body functions.
				</b></p>
				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>

	<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Proteins</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4">
					 <img src="images/proteins.jpg" alt="protein" style="width:100%">
				</div>
				<div class="w3-col l8" >
					<p>A firefighter should cinsume plenty of proteins.
					</p>
					<ul class="w3-margin">
						<li>Eggs</li>
						<li>Chicken</li>
						<li>Pork</li>
						<li>Soy</li>
						<li>Fish</li>
					</ul>
					<p>Red meat should be consumed in limited quantities as it is high in fat and cholesterol.
					</p>
				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>

	<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Vegetables</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4">
					 <img src="images/vegetables.jpg" alt="Vegetables" style="width:100%">
				</div>
				<div class="w3-col l8" >
					<p>Vegetables are important sources of many nutrients, including potassium, dietary fiber, folate (folic acid), vitamin A, and vitamin C.
					</p>
					<ul class="w3-margin">
						<li>Tomatoes</li>
						<li>Spinach</li>
						<li>Broccoli</li>
						<li>Cabbage</li>
						<li>Asparagus</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>

	<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Carbohydrates</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4 w3-padding-16">
					 <img src="images/carbohydrates.jpg" alt="carbohydrates" style="width:100%">
				</div>
				<div class="w3-col l8" >
					<p>Carbohydrates are the body's main source of fuel and are easily used by the body for energy.
					</p>
					<ul class="w3-margin">
						<li>Sweet Potatoes</li>
						<li>Yams</li>
						<li>Whole Grains</li>
						<li>Pasta</li>

					</ul>

				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>

		<div class="w3-row-padding w3-padding-8">
		<div class="w3-col l2">
			<p></p>
		</div>

		<div class="w3-col l8 w3-card-8">
			<header class="w3-container w3-light-grey">
			  <h4>Healthy Fats</h4>
			</header>

			<div class="w3-container w3-white">
				<div class="w3-col l4">
					 <img src="images/nuts.jpg" alt="Healthy Fats" style="width:100%">
				</div>
				<div class="w3-col l8" >
					<p>Consuming healthy fats can lead to more energy, better health, and reduce inflammation.
					</p>
					<ul class="w3-margin">
						<li>Walnuts</li>
						<li>Almonds</li>
						<li>Pecans</li>
						<li>Peanuts</li>

					</ul>

				</div>
			</div>
		</div>
		<div class="w3-col l2">
		<p></p>
		</div>
	</div>
