
<div class="w3-row-padding w3-padding-8">
  <div class="w3-col l2">
    <p></p>
  </div>

  <div class="w3-col l8 w3-card-8">
    <header class="w3-container w3-light-grey">
      <h4>Fit to Fight</h4>
    </header>

    <div class="w3-container w3-white">
      <div class="w3-col l4">
         <img src="images/fitness.png" alt="fitness" style="width:100%">
      </div>
      <div class="w3-col l8 w3-padding-16" >
      <p>A firefighter needs to be cardiovascularly fit by doing a  60-minute workout 3 to 4 times a week. Everyone always thinks cardio and running go hand and hand.  Well, most firefighters will not run for any reason.  Here are a few  non-running cardio workouts.
      </p>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
  <p></p>
  </div>
</div>

<div class="w3-row-padding w3-padding-8">
  <div class="w3-col l2">
    <p></p>
  </div>

  <div class="w3-col l8 w3-card-8">
    <header class="w3-container w3-light-grey">
      <h4>Circuit Training</h4>
    </header>

    <div class="w3-container w3-white">
      <div class="w3-col l4">
         <img src="images/circuit.jpg" alt="Circuit Training" style="width:100%">
      </div>
      <div class="w3-col l8 w3-padding-64" >
        <p>
        </p>
        <ul class="w3-margin">
          <li>Do exercises with minimal rest about 15 seconds between each set.</li>
          <li>Keep your heart rate up.</li>
          <li>Pork</li>
          <li>Do the exercises you enjoy.</li>
          <li>Large muscle group lifts or concentrated moves work best.</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
  <p></p>
  </div>
</div>

<div class="w3-row-padding w3-padding-8">
  <div class="w3-col l2">
    <p></p>
  </div>

  <div class="w3-col l8 w3-card-8">
    <header class="w3-container w3-light-grey">
      <h4>Cardio Machines</h4>
    </header>

    <div class="w3-container w3-white">
      <div class="w3-col l4 w3-padding-8">
         <img src="images/machines.jpg" alt="Machines" style="width:100%">
      </div>
      <div class="w3-col l8 w3-padding-16" >
        <p>Indoor machines are great exercises that are low impact on the body but great for your heart.
        </p>
        <ul class="w3-margin">
          <li>Stair Mill</li>
          <li>Rowing Machine</li>
          <li>Airdyne</li>
          <li>Spin Bike</li>
          <li>Elliptical</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
  <p></p>
  </div>
</div>

<div class="w3-row-padding w3-padding-8">
  <div class="w3-col l2">
    <p></p>
  </div>

  <div class="w3-col l8 w3-card-8">
    <header class="w3-container w3-light-grey">
      <h4>High-Intensity Interval Training</h4>
    </header>

    <div class="w3-container w3-white">
      <div class="w3-col l4 w3-padding-8">
         <img class="w3-circle" src="images/HIIT.jpg" alt="HIIT" style="width:100%">
      </div>
      <div class="w3-col l8 w3-padding-16" >
        <p>High-intensity interval training (HIIT) is any workout that alternates between intense bursts of activity. Just remember to rest up using a 2:1 ratio.
        </p>
        <ul class="w3-margin">
          <li>Sprints</li>
          <li>Lunges</li>
          <li>Speed Bags</li>

        </ul>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
  <p></p>
  </div>
</div>
